body {
  margin: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  background: #f4f6f9;


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #111827;
  padding: 50px 40px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

.subtitle {
  color: #9ca3af;
  margin-bottom: 30px;
  font-size: 14px;
}

.input-group {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #374151;
  background-color: #0f172a;
  color: white;
  outline: none;
}

input::placeholder {
  color: #6b7280;
}


button:not(.delete-btn) {
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #2563eb;
  color: white;
  transition: 0.2s ease;
}

button:not(.delete-btn):hover {
  background-color: #1d4ed8;
}

/* Lista */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b; 
  padding: 16px;
  border-radius: 14px;
  margin-bottom: 18px;
  transition: 0.2s ease;
}

li:hover {
  background: #253861;
}

li span {
  text-align: left;
  word-break: break-word;
  max-width: 80%;
}


.delete-btn {
  background-color: #a855f7;
  color: white;       
  font-weight: bold;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background-color: #9333ea;
}

.empty {
  margin-top: 20px;
  color: #9ca3af;
  font-size: 14px;
}